{% extends 'base_2.html' %}
{% load static %}
{% block content %}
{% load status_tags %}
								<div class="kt-portlet kt-portlet--height-fluid">
									<div class="kt-portlet__body">
                                        <div class="kt-pricing-1__items row">

                                            <div class="kt-pricing-1__item col-lg-12 mb-1">
                                                <a href="{% url 'topic' topic.chapter.id %}" class="btn btn-primary p-1 m-1 rounded-pill">Go Back</a> 
                            
                                            </div>
                            
                                            <div class="kt-pricing-1__item col-lg-5 bg-blue">
                                                <h2 class="kt-pricing-1__subtitle">Videos</h2>
                                                <span class="kt-pricing-1__description">
                                                 <ul class="unoderlist">                                                         
                                                    {% for video in videos %}
                                                       <li class="w-100 p-2" style="list-style-type: none;"><a class="video_list" href="#" data_link="{{video.link}}?ecver=1"><h5> {{video.title}} </h5></a></li> 
                                                    {% empty %}
                                                       No Videos found for this topic
                                                    {% endfor %} 
                                                   </ul>                                                    
                                                </span>                                                
                                            </div>

                                            <!-- Gap -->
                                            <div class="col-lg-2" ></div>
                                            
                                            <div class="kt-pricing-1__item col-lg-5  bg-dark-green" id="div_assignment">
                                                <h2 class="kt-pricing-1__subtitle bg-dark-mb-12">Materials</h2>
                                                <span class="kt-pricing-1__description ">
                                                    <div class="kt-widget4">
                                                        <ul class="unoderlist">
                                                            {% for material in materials %}  
                                                            <li class="w-100 p-2" style="list-style-type: none;">
                                                                <a href="{{material.material.url}}" download>
                                                                   <h5 style="color:white">Download {{material.title}}</h5>
                                                                 </a>
                                                              </li>
                                                             {% empty %}
                                                             <p style="color:white"> No Materials found for this topic </p>                                    
                                                            {% endfor %}
                                                        </ul>
                            
                                                    </div>
                                                </span>
                                            </div>
                                            <p id="watchvideo"></p>
                                            <div class="kt-pricing-1__item col-lg-12 mt-5">                                                                                     
                                                <iframe width="100%" height="450px" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>                                                             
                                            </div>
                                        </div>
									</div>
                                </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
<script>
    $(document).ready(function(){
        var link = $(".video_list:first").attr('data_link');      

        if (link.indexOf("drive.google.com") != -1)

        {
            var res = link.replace("view?ecver=1", 'preview');                                                                        
            $('iframe').attr("src", res);
            $(".video_list").css('color','white');
            $(this).css('color','black');                                                       


        }

        else{

            var full_video_link = "youtube.com";
            if(link.indexOf(full_video_link) != -1){                                                    
             var res = link.split("=");                                                 
             var link = "https://www.youtube.com/embed/"+res[1]; 

            }
            else{
                var res = link;                                                    
                var link = "https://www.youtube.com/embed/"+res;                                                  

            }

        $('iframe').attr("src", link);
        $(".video_list:first").css('color','black');

        }
       

        $(".video_list").click(function(e){
            e.preventDefault();
            var link = $(this).attr('data_link'); 

            if (link.indexOf("drive.google.com") != -1)
            {                
                var res = link.replace("view?ecver=1", 'preview');                                                                        
                $('iframe').attr("src", res);
                $(".video_list").css('color','white');
                $(this).css('color','black');
                $('#watchvideo')[0].scrollIntoView(true);

            }

            else{

             var full_video_link = "youtube.com";
             if(link.indexOf(full_video_link) != -1){                                                    
             var res = link.split("=");                                                 
             var link = "https://www.youtube.com/embed/"+res[1]; 

            }
            else{
                var res = link;                                                    
                var link = "https://www.youtube.com/embed/"+res;                                                  

            }

            $('iframe').attr("src", link);
            $(".video_list").css('color','white');
            $(this).css('color','black');
            $('#watchvideo')[0].scrollIntoView(true);

            }   
                
        });

    });

</script>

{% endblock %}