{% extends 'base_2.html' %}
{% load static %}
{% block content %} 
{% load mathfilters %}
{% load crispy_forms_tags %}


	<div class="kt-portlet kt-portlet--height-fluid">
		<div class="kt-portlet__body">
			<div class="container">
				<div class="row">
                    <div class="col-sm-12">

                        <a href="{% url 'college_admin' %}" class="btn btn-primary p-2 m-1 rounded-pill">Home</a>
                        <a href="{% url 'students' %}" class="btn btn-primary p-2 m-1 rounded-pill">Students</a>
                        <a href="{% url 'faculty' %}" class="btn btn-secondary p-2 m-1 rounded-pill">Teachers</a>
                        <a href="{% url 'score' %}" class="btn btn-primary p-2 m-1 rounded-pill">Performance</a>
                        <a href="{% url 'view_post' %}" class="btn btn-primary p-2 m-1 rounded-pill">Circular</a>
                        <a href="{% url 'resource_list' %}" class="btn btn-primary p-2 m-1 rounded-pill">Resource</a>
                        
                    </div>
                    <div class="col-sm-12">
                        <a class="btn btn-primary m-2" href="{% url 'faculty' %}">Go Back</a>
                    </div>
                    
                  
                    <div class="col-sm-12">     

                        <h3 class="m-1">{{teacher}} - Log Book History</h3>
                        <ul class="nav nav-tabs mt-2" role="tablist">
                            {% for subject in subjects %}
                                {% if forloop.counter == tab %} 
                                    <li class="nav-item">
                                       <a class="nav-link active" data-toggle="tab" href="#">{{subject}}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                      <a class="nav-link"  href="{% url 'logbook-history' teacher.id %}?tab={{forloop.counter}}">{{subject}}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}                      
                        
                        </ul>  

                        <!-- Tab panes -->
                        <div class="tab-content">
                            {% for subject in subjects %}
                              {% if forloop.counter == tab %} 
                                <div style="overflow-x:auto;" id="tab{{subject.id}}" class="container tab-pane active"><br>           
                                    <table class="table log_book_table">                                  
                                        <thead>
                                            <tr>  
                                                <th>Date</th>                                                    
                                                <th>Hour</th>
                                                <th>Chapter/Unit</th>
                                                <th>Content Delivered</th>
                                                <th>Activity</th>                                                      
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for log_book_entry in log_book_entries %}
                                                <tr id="replace_{{forloop.counter}}" class="log-book-row get_row {% cycle 'row1' 'row2' %} formset_row">
                                                    <td>     
                                                        {{log_book_entry.log_book.date}}
                                                    </td>
                                                    <td>     
                                                        {{log_book_entry.hour}}
                                                    </td>
                                                    <td>                                                  
                                                        {{log_book_entry.chapter}}
                                                    </td>
                                                    <td>
                                                    {{log_book_entry.content_delivered|safe}}
                                                    </td>
                                                    <td> 
                                                        {{log_book_entry.activity|safe}}
                                                    </td>
                                                </tr>
                                            {% empty %}

                                            <tr>
                                                <td colspan="5"> <h5>No data available..!</h5></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>                                
                                    </table>
                                </div>
                              {% else %}
                                <div id="tab{{subject.id}}" class="container tab-pane"><br>                                  
                                    
                                </div>
                              {% endif %}

                            

                            {% endfor %}               
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

{% endblock %}