html, body {
    height: 100%;
    font-family:verdana,arial,sans-serif;
    color:#555555;
 }


new {
  background-color: #E9EAED !important;
}
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #F44336;
}


[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #F44336;
  background-color: #F44336;
}

  .cardtitle {
    padding-top: 5px;
    padding-left: 2px;
  }
  
.ab{
  padding: 0 0 !important;
}