{% extends 'base_2.html' %}
{% load static %}
{% load login_form_tags %}
{% block content %} 
	<div class="kt-portlet kt-portlet--height-fluid">
		<div class="kt-portlet__body">
			<div class="container">
                <div class="row mb-3">
                  <div class="col-sm-12">
                    <a href="{% url 'faculty_classroom' %}" class="btn btn-primary p-2 m-1 rounded-pill">Classroom</a>
                    <a href="{% url 'view_all_assignment' %}" class="btn btn-primary p-2 m-1 rounded-pill">Assignments</a>
                    <a href="{% url 'view_all_test' %}" class="btn btn-primary p-2 m-1 rounded-pill">Tests</a>
                    <a href="{% url 'view_all_discussion' %}" class="btn btn-primary p-2 m-1 rounded-pill">Discussions</a>
                  </div>
                    
                </div>
			        	<div class="row mb-2">
                    <a href="#"><h3 >{{submission.assignment.title}}</h3></a>                                                 
                </div>
                <div class="row mb-2">
                    Question : <a href="{{submission.assignment.afile.url}}" download> Download</a>, Classroom : {{submission.assignment.topic.croom.name}}
                   <hr>
                    Submitted by : {{submission.student}}
                    <p id="get_pdf" location="{{submission.sfile.url}}"></p>
               
                </div>


                
                <hr>

               
                <div class="row m-3" style="height:500px;">

                    <div class="col-sm-12"> 

                        <div class="toolbar">
                                                      
                                            
                           
                            <button class="text" type="button" title="Text Tool" data-tooltype="text"></button>
                            <select class="text-size"></select>
                            <div class="text-color"></div>
                        
                            <div class="spacer"></div>
                        
                            <button class="pen" type="button" title="Pen Tool" data-tooltype="draw">✎</button>
                            <select class="pen-size"></select>
                            <div class="pen-color"></div>
                        
                            <div class="spacer"></div>
                        
                           
                        
                            <div class="spacer"></div>
                        
                            <select class="scale">
                              <option value=".5">50%</option>
                              <option value="1">100%</option>
                              <option value="1.33">133%</option>
                              <option value="1.5">150%</option>
                              <option value="2">200%</option>
                            </select>                       

                        
                            <div class="spacer"></div>
                        
                            <a href="javascript://" class="clear btn-danger text-white p-1" title="Clear">Clear</a>
                            <a href="#" id="save_btn" class="download_pdf btn-warning text-white p-1 ">Save</a>
                              <form method="post"  enctype="multipart/form-data"  class="d-inline-block" action="{% url 'assignment_correction' submission.id %}">
                                  {% csrf_token %}    
                                        <label>Marks</label>
                                       {{form.marks}}
                                       
                                       {{form.status}}
                                                    
                                       
                                  
                                        <input type="submit" class="btn btn-primary p-1" value="Submit">
                                  
                                     
           
                               </form>
           
                           
                          </div>
                      
                          <div id="content-wrapper">
                            <div id="viewer" class="pdfViewer"></div>
                          </div>

                          <input type="file" style="visibility:hidden;" name="cfile" id="cfile">               

                      
                    </div>                 
                </div>                    
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>   
    <script src="{% static '/js/pdf-correction/pdf.js' %}"></script>
    <script src="{% static '/js/pdf-correction/pdf_viewer.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/pdf-correction/index.js' %}"></script>

    
<script>        
    $(document).ready(function(){         
    
    $(".download_pdf").click(function(){
            
    var HTML_Width = $(".pdfViewer").width();
    var HTML_Height = $(".pdfViewer").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width+(top_left_margin*2);
    var PDF_Height = (PDF_Width*1.5)+(top_left_margin*2);
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;
    
    var totalPDFPages = Math.ceil(HTML_Height/PDF_Height)-1;
    
    
    html2canvas($(".pdfViewer")[0],{allowTaint:true}).then(function(canvas) {
      canvas.getContext('2d');
      
      console.log(canvas.height+"  "+canvas.width);
      
      
      var imgData = canvas.toDataURL("image/jpeg", 1.0);
      var pdf = new jsPDF('p', 'pt',  [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin,canvas_image_width,canvas_image_height);
      
      
      for (var i = 1; i <= totalPDFPages; i++) { 
        pdf.addPage(PDF_Width, PDF_Height);
        pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
      }
      
      //pdf.save("assignment.pdf");


       let list = new DataTransfer();
       let file = new File([pdf.output("blob")], "cfile.pdf", {  type: "pdf" },);
       list.items.add(file);
       let myFileList = list.files;  
       $('#cfile').prop('files',myFileList);     
      
        // Set up form data
        var formData = new FormData();
        var filed = $('#cfile')[0].files[0];

        formData.append("cfile", filed)

        

        // Pass the form to views via POST
        $.ajax({
            url: "{% url 'save_cfile' submission.id %}",
            headers: {
                content_type: 'application/json',
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: formData,
            cache: false,
            processData: false, 
            contentType: false, 
            enctype: 'multipart/form-data',
            beforeSend:function()
              {
                $('#save_btn').text('Please Wait');                       
              },  

            success: function(data) {

              if(data.valid){
                  alert('Saved the corrected file, Update mark and status.');
                  $('#save_btn').text('Save');
              }
              else{
                  alert('Access Denied');
                  $('#save_btn').text('Save');

              }
                   

            }
        });
        });
       
    
      });

    });
</script>
  
{% endblock %}